<html>
<head>
	<title>code for palestine</title>
	<link rel="stylesheet" type="text/css" href="../static/style1.css">
</head>
<body class = "bd">

<h1 id = "hello"> ^Hello^ </h1>

<a href = "/home/jit/Desktop/level2/37017661_446119102522217_5939216149983002624_n.jpg">

<img id = "img" width="100"  src="../static/sia1.jpg"/>
</a>
<button id = 'But' onclick = changetext() > Click Me !</button>
<button id = 'But2' onclick = changeimg() > Click Me !</button>
<h1 id = "my_name"> my name is   Sia </h1>

<lu id = "br">
	<li> 
	<p style='background-color:pink'<li> FACTS ABOUT ME:</li>
	<li>I am vegterian </li>
	<li>I love animals.I had a cat 'hummus'.</li>
	<li>I have never played Angry Birds, or Candy Crush, or Pokemon GO. And I have no idea about how it looks or what it means to others.</li>
	<li>I sound rude until you get to know me. The problem is  I do not know what is rude and what is not.</li></p>
</lu>

	<script>
	function changeimg(){
	var img1 = document.getElementById('img');
	img1.src = '../static/sia2.jpg'

	}



	function changetext(){
		var changetext = document.getElementById("my_name");
		changetext.style.color = "red";


	}


	</script>



</body>


</body>
</html>